// タブレット用CSS
@media screen and (max-width: 959px) {
  header {
    background-color: transparent;
    border-bottom: none;
    position: absolute;

    .page_link_area,
    .start_btn_area {
      display: none;
    }
  }

  .fixed {
    background-color: #fff;
    border-bottom: 1px solid #bbb;
    position: fixed;

    .header_detail_open_icon {
      display: none;
    }

    .page_link_area,
    .start_btn_area {
      display: inline-block;
    }
  }

  .header_detail_area {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 500px;
    background-color: #fff;

    .page_link_area {
      width: 90%;
      margin: 0 auto;
      padding: 15px 0;

      .page_link {
        color: #000;
      }
    }

    .active_page_link_area {
      border-bottom: 1px solid #e0e0e0;

      .page_link {
        color: #22f;
      }
    }
  }

// サイトアイコン
  .site_icon {
    border-radius: 20px;
    margin-right: 5px;
  }

// ヘッダー詳細開閉アイコン
  .header_detail_open_icon,
  .header_detail_close_icon {
    display: inline;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
  }

  .header_detail_close_icon {
    color: #000;
  }

  .main_image_space {
    height: 580px;

    .main_image_area {
      height: 320px;
      margin-top: 0;
      padding-top: 150px;

      .input_form_area {
        width: 80%;
        margin: 0 auto;
        position: static;
        background: transparent;

        h1 {
          color: #fff;
          margin-bottom: 70px;
        }
      }
    }
  }

  .site_main_area {
    width: 90%;

    .site_info_area {
      display: block;

      .site_info_item {
        width: 90%;
        margin-bottom: 30px;

        h1 {
          margin-bottom: 10px;
        }
      }
    }

    .site_info_head {
      font-size: 2.5em;
    }

    .user_feedback {
      display: flex;

      .text_area {
        .check_mark {
          width: 30px;
          height: 30px;
        }

        h1 {
          font-size: 1.2em;
        }
      }

      .site_info_image {
        width: 40%;
        height: 300px;
      }
    }

    .eye_catch_area {
      width: 80%;

      .site_info_image {
        height: 400px;
      }
    }

    .service_detail_area {
      .site_info_area {
        display: flex;
      }
    }
  }

  .start_eye_catch_area {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
  }


  footer {
    .footer_info_area {
      padding-bottom: 0;
      display: block;

      .campany_info,
      .community_info,
      .host_info,
      .support_info {
        width: 100%;
        margin-bottom: 40px;
        border-bottom: 1px solid #d0d0d0;

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 28%;
            margin-right: 5%;
          }
        }
      }

      .support_info {
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    .credit_area {
      flex-direction: column;

      .link_icon_area,
      .credit_info {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}


// スマホ用CSS
@media screen and (max-width: 480px) {
  .fixed {
    .start_btn_area {
      .start_btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
      }
    }
  }

  .main_image_space {
    height: 470px;

    .main_image_area {
      height: 230px;
      padding-top: 80px;

      .input_form_area {
        width: 100%;

        h1 {
          width: 90%;
          margin: 0 auto 70px;
          font-size: 1.5em;
        }
      }
    }
  }

  .site_main_area {
    width: 100%;

    .site_info_area {
      width: 90%;

      .site_info_item {
        width: 100%;
      }
    }

    .site_info_head {
      width: 90%;
      margin: 0 auto 50px;
      font-size: 2em;
    }

    .user_feedback {
      display: flex;
      flex-direction: column-reverse;

      .text_area {
        width: 100%;
      }

      .site_info_image {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .eye_catch_area {
      .site_info_image {
        height: 300px;
      }
    }

    .service_detail_area {
      width: 90%;

      .site_info_head {
        margin: 0 auto 50px;
        padding-top: 30px;
      }

      .site_info_area {
        display: block;

        .site_info_item {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }

  .start_eye_catch_area {
    height: 300px;

    h1 {
      top: 30px;
      left: 20px;
      font-size: 2em;
    }

    .start_btn {
      top: 50px;
      left: 20px;
    }
  }

  footer {
    .footer_info_area {
      padding-bottom: 0;

      .campany_info,
      .community_info,
      .host_info,
      .support_info {
        ul {
          display: block;

          li {
            width: 100%;
          }
        }
      }

      .support_info {
        margin-bottom: 0;
      }
    }

    .credit_area {
      .link_icon_area,
      .credit_info {
        text-align: left;
      }
    }
  }
}